<div>
  <h2>ワークアウト履歴</h2>
  <div>
   <p>まだ記録がありません</p>
  </div>
  <div>
    <div>
      <div>
        <span>2025-01-09</span>
      </div>

      <div>
        <h3>ベンチプレス</h3>
        <div>
          <div>
            <p>セット</p>

            <div>
              <p>
                <span>50</span>
                <span>kg</span>
              </p>
              <p>
                <span>10</span>
                <span>回</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
