<div class="min-h-screen bg-background">
  <div class="relative container flex min-h-screen flex-col">
    <header
      class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
    >
      <div class="container flex h-14 items-center">
        <div class="mr-4 flex">
          <a class="mr-6 flex items-center space-x-2" href="/">
            <span class="font-bold">ワークアウト記録</span>
          </a>
        </div>
        <nav class="flex items-center space-x-6 text-sm font-medium">
          <a
            routerLink="/list"
            routerLinkActive="text-foreground"
            class="transition-colors hover:text-foreground/80 text-foreground/60"
          >
            履歴一覧
          </a>
          <a
            routerLink="/new"
            routerLinkActive="text-foreground"
            class="transition-colors hover:text-foreground/80 text-foreground/60"
          >
            新規登録
          </a>
        </nav>
      </div>
    </header>
    <main class="flex-1">
      <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
        <router-outlet />
      </section>
    </main>
  </div>
</div>
